body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: #127262;
    color: #fff;
    padding: 10px;
    text-align: center;

}

#ImagenLogo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#inicio {
    background-color: #127262;
    color: white;
    border-radius: 16px;
    width: 1100px;
    padding: 1px;
    align-items: center;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    flex-grow: 1;
    margin: auto;

}

h2 {
    color: rgb(0, 59, 59);
    text-align: center;
}

nav {
    background-color: #b1b1b1;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    margin: 10px;
    color: #333;
}

section {
    padding: 50px;
    text-align: center;
}

.boton-imagen {
     margin: auto;
      width: 200px;
      height: 200px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(iconoSobreNosotros.png);
      background-size: cover;
      background-position: center;
}
#SobreNosotros {
    background-color: #127262;
    color: white;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    flex-grow: 1;

}
#contacto {
    background-color: #127262;
    color: white;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    flex-grow: 1;

}