* {

    margin: 0;
    padding: 0;
}

body {

    font-family: Arial, Helvetica, sans-serif;


}





.headerFormAdmin {
    background-color: #127262;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .headerFormAdmin h1 {
    font-size: 40px;
    margin:auto;
    
  }
  /*--------------------------------------------------------------------Menu----------------------------------------------------------*/
  .navFormAdmin {
    background-color: #b1b1b1;
    padding: 15px;
    text-align: center;
  }
  
  .navFormAdmin  a {
    text-decoration: none;
    margin: 10px;
    color: #333;
  }



#menuPerfilAlmacen{

    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 180px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-top: -1%;
    margin-left: 77%;
    color: rgb(71, 71, 71);
    border-radius: 4px;
visibility: hidden;

    
}


#menuPerfilAlmacen.active {

    visibility: visible;

}


#menuPerfilAlmacen img {

    margin-left: 20px;
    margin-top: 20px;
}

#menuPerfilAlmacen h4 {

    margin-left: 90px;
    margin-top: -60px;

}

#menuPerfilAlmacen button {
    background-color: #2bc48a;
    color: white;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 25px;
    border: none;
    margin-left: 90px;
    margin-top: 10px;
    border-radius: 4px;

}

#menuPerfilAlmacen button:hover {

    background-color: #239167;
}




.cerrarSesionAlmacen {

    margin-top: 10%;



}

.cerrarSesionAlmacen a {

    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #5c5c5c;

}


#menuPerfil {

    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 180px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-top: -1%;
    margin-left: 77%;
    color: rgb(71, 71, 71);
    border-radius: 4px;
    visibility: hidden;

}



#menuPerfil.active {

    visibility: visible;

}






#menuPerfil:hover {

    cursor: pointer;
}

#menuPerfil img {

    margin-left: 20px;
    margin-top: 20px;
}

#menuPerfil h4 {

    margin-left: 90px;
    margin-top: -60px;

}

#menuPerfil button {
    background-color: #2bc48a;
    color: white;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 25px;
    border: none;
    margin-left: 90px;
    margin-top: 10px;
    border-radius: 4px;

}

#menuPerfil button:hover {

    background-color: #239167;
}


.cerrarSesion {

    margin-top: 10%;



}

.cerrarSesion a {

    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #5c5c5c;

}




#menuPerfilModificarLote{

    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 180px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-top: -1%;
    margin-left: 77%;
    color: rgb(71, 71, 71);
    border-radius: 4px;
visibility: hidden;

    
}


#menuPerfilModificarLote.active {

    visibility: visible;

}


#menuPerfilModificarLote img {

    margin-left: 20px;
    margin-top: 20px;
}

#menuPerfilModificarLote h4 {

    margin-left: 90px;
    margin-top: -60px;

}

#menuPerfilModificarLote button {
    background-color: #2bc48a;
    color: white;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 25px;
    border: none;
    margin-left: 90px;
    margin-top: 10px;
    border-radius: 4px;

}

#menuPerfilModificarLote button:hover {

    background-color: #239167;
}




.cerrarSesionModificarLote {

    margin-top: 10%;



}

.cerrarSesionModificarLote a {

    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #5c5c5c;

}



#menuPerfilAgregarLote{

    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 180px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-top: -1%;
    margin-left: 77%;
    color: rgb(71, 71, 71);
    border-radius: 4px;
visibility: hidden;
    
}


#menuPerfilAgregarLote.active {

    visibility: visible;

}


#menuPerfilAgregarLote img {

    margin-left: 20px;
    margin-top: 20px;
}

#menuPerfilAgregarLote h4 {

    margin-left: 90px;
    margin-top: -60px;

}

#menuPerfilAgregarLote button {
    background-color: #2bc48a;
    color: white;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 25px;
    border: none;
    margin-left: 90px;
    margin-top: 10px;
    border-radius: 4px;

}

#menuPerfilAgregarLote button:hover {

    background-color: #239167;
}




.cerrarSesionAgregarLote {

    margin-top: 10%;



}

.cerrarSesionAgregarLote a {

    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #5c5c5c;

}






#menuPerfilLote2{

    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 180px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-top: -1%;
    margin-left: 77%;
    color: rgb(71, 71, 71);
    border-radius: 4px;
visibility: hidden;
    
}


#menuPerfilLote2.active {

    visibility: visible;

}


#menuPerfilLote2 img {

    margin-left: 20px;
    margin-top: 20px;
}

#menuPerfilLote2 h4 {

    margin-left: 90px;
    margin-top: -60px;

}

#menuPerfilLote2 button {
    background-color: #2bc48a;
    color: white;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 25px;
    border: none;
    margin-left: 90px;
    margin-top: 10px;
    border-radius: 4px;

}

#menuPerfilLote2 button:hover {

    background-color: #239167;
}




.cerrarSesionLote2 {

    margin-top: 10%;



}

.cerrarSesionLote2 a {

    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #5c5c5c;

}





header {
    background-color: #464545;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.userImg:hover{

transform: scale(1.1);

}



header h1 {

    margin-left: 0%;
}

header h2 {

    margin-left: 39%;
    font-size: 30px;
}




.imgFormReg {

    margin-top: -383px;
    margin-left: 463px;
    transition: 0.3s;
    color: white;
}

.imgFormReg img {

    width: 470px;
    height: 424px;
    padding-top: -10px;
}

.imgFormReg h4 {

    margin-top: -60%;
    font-size: 33px;
    font-weight: bold;


}

.imgFormReg p {

    margin-top: 30px;
}


.containerForm {


    margin-left: -50%;


}

#formRegistroAdmin {

    text-align: center;
    margin: auto;
    background-color: white;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 930px;
    height: 420px;
     margin-top: 7%;

}


#formRegistroAdmin h1 {


    font-size: 25px;
    padding-top: 10px;
    height: 40px;
    margin-top: -17px;


}

#formRegistroAdmin input {

    margin-top: 30px;
    display: inline-block;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid;
    outline: none;
    transition: 0.2s;
    height: 30px;


}

#formRegistroAdmin input:hover {


    border-bottom: 1px solid rgb(23, 196, 219);


}



#botonRegistrarse {

    width: 210px;
    height: 30px;
    background-color: rgb(23, 196, 219);
    color: white;
    cursor: pointer;
    margin-left: -51%;


}

#botonRegistrarse:hover {

    background-color: rgb(19, 160, 179);

}

#inputContrasenia {

    margin-left: -52%;
}

#estadoPassword {

    margin-left: 10px;
    cursor: pointer;

}

.inputCol1 {

    margin-right: 30px;
}


#containerQuick {

    margin-top: -10%;
    margin-left: 36%;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 340px;
    text-align: center;

}

#containerQuick button {

    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 0px;
    background-color: #2bc48a;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 35px;
    margin-top: 23px;
    margin-left: -20px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 2px rgb(167, 162, 162);

}


#btnAlmacen {

    margin-top: -50px;
    transition: 0.3s;

}

#btnAlmacen.active {

    margin-top: -38px;
    transition: 0.3s;

}

#containerQuick button:hover {


    background-color: #25a876;

}

#containerQuick img {
    display: flex;
    margin-top: -20px;
    margin-left: 144px;

}

#containerQuick h2 {

    color: white;
    border-radius: 4px;
    background-color: rgb(48, 130, 185);

}


#containerQuick nav {


    list-style: none;
    background-color: rgb(29, 119, 204);
    width: 160px;
    margin-left: 111px;
    visibility: hidden;
    color: white;



}

#containerQuick nav li {

    background-color: rgb(22, 85, 143);
    border-bottom: 1px solid rgb(14, 59, 100);
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 160px;
    height: 30px;
    text-align: center;
    padding-top: 8px;
    transition: 0.2s;


}

#containerQuick a {

    color: white;
    text-decoration: none;

}


#containerQuick nav li:hover {

    background-color: rgb(24, 100, 172);
    transition: 0.2s;


}






#eliminar {

    background: rgb(255, 12, 12);
    border-radius: 5px;
    width: 80px;
    height: 24px;
    text-align: center;
    padding-top: 7px;
    box-shadow: 2px 2px 2px grey;
    margin-left: 30px;
    margin-top: -8px;

}

#eliminar a {

    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}


#eliminar:hover {

    background-color: rgb(185, 4, 4);
}


.registrado {

    margin: auto;
    border-radius: 6px;
    width: 330px;
    height: 200px;
    font-size: 23px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-family: arial;
    font-weight: bold;
    text-align: center;
    margin-top: 12%;
    padding-top: 35px;
}

.registrado a {

    padding-top: 30px;

}



.iconoMsj {

    margin-top: -7%;


}


.botonRegistrado {

    margin-top: 36px;
    border-radius: 4px;
    background-color: rgba(22, 223, 22, 0.76);
    width: 130px;
    height: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;

}

.botonRegistrado:hover {

    background-color: green;

}


.avisoCamposRegistrarse {

    margin-top: -36%;
    font-size: 15px;
    margin-left: 31.7%;
    width: 494px;
    height: 30px;
    background: linear-gradient(rgb(71, 71, 71), rgb(56, 56, 56));
    color: red;
    border-radius: 3px;
    text-align: center;
    padding-top: 10px;



}


.avisoCamposRegistrarse h4 {

    margin: auto;
    font-weight: bold;
    color: red;



}

#estadoPasswordReg {

    position: absolute;
    margin-left: 1%;
    margin-top: 30px;
    cursor: pointer;

}

/*estilo formulario del login del admin*/


#formLoginAdmin {

    text-align: center;
    margin-left: 24%;
    margin-top: 8%;
    background-color: white;
    border: none;
    box-shadow:

        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(35, 95, 119, 0.3);
    width: 664px;
    height: 390px;
    border-radius: 7px;
    text-align: center;


}


.inputs h1 {

    font-size: 23px;
    margin-right: 340px;

}


.inputs input {



    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    height: 30px;
    padding-left: 40px;
    margin-right: 50%;
    width: 180px;
    background: none;
    color: rgb(0, 0, 0);
    transition: 0.3s;

}

.inputs input:hover {

    border-bottom: 1px solid rgb(23, 196, 219);
    transition: 0.3s;
    transform: scale(1.1);
}

.inputs input::placeholder {

    color: rgb(0, 0, 0);
}



.inputs img {

    position: absolute;
    margin-left: 2px;
    margin-top: 6px;

}

#botonEnviar {

    width: 100px;
    height: 30px;
    background-color: rgb(23, 196, 219);
    color: white;
    margin-top: 25px;
    margin-right: 350px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: bold;


}

#botonEnviar:hover {

    background-color: rgb(39, 128, 163);

}




#estadoPassword {

    position: absolute;
    margin-left: -24%;
    margin-top: 1px;
    cursor: pointer;

}


.avisoCamposLogin {

    margin-top: -33%;
    font-size: 15px;
    margin-left: 31.7%;
    width: 494px;
    height: 30px;
    background: linear-gradient(rgb(71, 71, 71), rgb(56, 56, 56));
    color: red;
    border-radius: 3px;
    text-align: center;
    padding-top: 10px;



}


.avisoCamposLogin h4 {

    margin: auto;
    font-weight: bold;
    color: red;



}




.linkAdmin {

    margin-top: 33px;
    margin-right: 50%;
}


.linkAdminReg {

    margin-top: 33px;
    margin-right: 50%;
}


.imgForm {

    margin-top: -323px;
    margin-left: 333px;
    transition: 0.3s;

    color: white;
}

.imgForm img {

    width: 333px;
    height: 395px;
    padding-top: -10px;
}

.imgForm h4 {

    margin-top: -82%;
    font-size: 33px;
    font-weight: bold;


}

.imgForm p {

    margin-top: 22px;
}



/*estilo para el backoffice de los lotes*/


.titulo h2 {

    display: inline-block;
    padding-top: -10px;
    margin-left: 35px;
}

.titulo img {

    margin-left: 20px;

}


#formModificar {

    color: black;
    background-color: white;

    height: 340px;
    width: 400px;
    box-shadow: 2px 2px 2px grey;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: -6%;
    border-radius: 10px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(68, 68, 68, 0.3);


}

#formModificar input[type=submit] {

    background-color: rgb(86, 243, 24);
    width: 140px;
    color: white;
    border-radius: 10px;
    height: 25px;
    margin-top: 40px;
    box-shadow: 2px 2px 2px black;
}

#formModificar input {

    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 16px;
    color: black;
    margin-left: 3px;
    width: 200px;
    align-items: center;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    transition: 0.2s;


}

#formModificar input:hover {

    border-bottom: 1px solid rgb(86, 243, 24);
    transform: scale(1.1);
    transition: 0.2s;

}

#formModificar input[type=submit]:hover {

    background-color: rgb(58, 190, 6);

}

#formModificar h2 {


    margin-left: -32px;

}

#formModificar img {

    display: flex;
    margin-left: 320px;
    margin-top: -40px;

}



#formModificar input[type=number] {

    width: 200px;

}



#formModificar select {

    width: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin-top: 20px;

}


#formModificar label {

    color: rgb(109, 109, 109);
    font-size: 13px;
    margin-left: -72px;
}


#formAgregar {

    color: black;
    background-color: white;

    height: 380px;
    width: 400px;
    box-shadow: 2px 2px 2px grey;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: -6%;
    border-radius: 10px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(68, 68, 68, 0.3);

}




#formAgregar select {


    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    margin-top: 20px;
    width: 200px;

}


#formAgregar label {

    color: rgb(109, 109, 109);
    font-size: 13px;
    margin-left: -72px;
}


#formAgregar input[type=submit] {

    background-color: rgb(24, 93, 243);
    width: 140px;
    color: white;
    border-radius: 10px;
    height: 25px;
    margin-top: 40px;
    box-shadow: 2px 2px 2px black;
}

#formAgregar input {

    border-bottom: 1px solid rgb(0, 0, 0);
    margin-top: 20px;
    color: black;
    display: inline;
    margin-left: 3px;
    align-items: center;
    border-top: none;
    width: 200px;
    border-left: none;
    border-right: none;
    outline: none;
    transition: 0.2s;

}



#formAgregar input[type=number] {

    width: 200px;

}

#formAgregar input:hover {

    border-bottom: 1px solid rgb(24, 93, 243);
    transform: scale(1.1);
    transition: 0.2s;

}

#formAgregar input[type=submit]:hover {

    background-color: rgb(35, 35, 212);

}


#nomProducto {

    margin-left: 0%;
    font-weight: bold;
    

}



.msjActualizacion {

    margin: auto;
    border-radius: 6px;
    width: 330px;
    height: 140px;
   
    box-shadow:

        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(35, 95, 119, 0.3);
    font-family: arial;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: -2%;
    padding-top: 35px;
}



.iconoMsj {

    margin-top: -7%;


}


.volverCorrecto {

    margin-top: 13px;
    border-radius: 4px;
    background-color: rgb(23, 214, 81);
    color: white;
    text-decoration: none;
    width: 140px;
    height: 30px;
    border: none;

}

.volverCorrecto:hover {

    background-color: rgb(20, 175, 66);
}


.volverError {

    margin-top: 13px;
    border-radius: 4px;
    background-color: rgb(231, 32, 32);
    color: white;
    text-decoration: none;
    width: 140px;
    border: none;
    height: 30px;

}

.volverError:hover {

    background-color: rgb(170, 17, 17);
}

.msjEliminar {

    background-color: white;
    width: 300px;
    border-radius: 6px;
    
    color: black;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    margin-top: 0%;
    height: 160px;
    font-size: 16px;
    font-weight: bold;
    font-family: arial;
    box-shadow:

        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(35, 95, 119, 0.3);
}

.msj {

    padding-top: 20px;

}


table {

    margin: auto;
    margin-top: 13px;
    text-align: center;
    border: 1px solid gray;
    width: 540px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
    margin-bottom: 2rem;

}



#headTable {

    box-shadow: 2px 2px 2px grey;
    background-color: rgb(26, 165, 165);
    height: 30px;

}

td {

    border-right: 1px solid grey;
    height: 40px;
}

tr:hover {

    background-color: rgb(236, 236, 236);
}



#eliminar {

    background: rgb(255, 12, 12);
    border-radius: 5px;
    width: 80px;
    height: 24px;
    text-align: center;
    padding-top: 7px;
    box-shadow: 2px 2px 2px grey;
    margin-left: 20px;
    margin-top: -8px;

}

#eliminar a {

    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}


#eliminar:hover {

    background-color: rgb(185, 4, 4);
}



#modificar {


    padding-top: 7px;
    width: 80px;
    height: 24px;
    background-color: rgb(14, 241, 14);
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;
    text-align: center;
    margin-left: 125px;
    margin-top: -31px;
}

#modificar a {

    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

#modificar:hover {

    background-color: rgb(4, 165, 4);
}


#containerTable img {

    margin-left: 270px;
    margin-top: -20px;
    display: flex;
}

#masInfo {

    padding-top: 7px;
    width: 80px;
    height: 24px;
    background-color: rgb(14, 93, 241);
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;
    text-align: center;
    margin-left: 234px;
    margin-top: -31px;

}

#masInfo a {

    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;

}




#containerTable {


    display: table;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px gray;
    width: 630px;
    border-radius: 10px;
    margin-top: -8%;
    height: 100px;
    border: 1px solid gray;

}






#containerTableLote {


    display: table;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px gray;
    width: 630px;
    border-radius: 10px;
    margin-top: -10%;
    height: 100px;
    border: 1px solid gray;

}


.iconoLote {

    margin-top: 2%;
    margin-left: 48%;
}



#agregar {

    margin-top: 3%;
    margin-left: 5%;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px gray;
    width: 190px;
    height: 30px;
    background: rgb(76, 76, 247);
    color: white;
    font-weight: bold;

}

#agregar:hover {

    background-color: rgb(3, 3, 129);

}