body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  background-color: #127262;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h2 {
  color: rgb(0, 59, 59);
  text-align: center;
}

nav {
  background-color: #b1b1b1;
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  margin: 10px;
  color: #333;
}

section {
  padding: 50px;
  text-align: center;
}
.Sobrenosotros {
  border: #127262 solid 4px;
  text-align: center;
  margin: 10px;
  padding: 15px;
  font-size: 18px;
}
.container {
  display: flex;
}

.image img {
  margin-right: auto;
}

.Sobrenosotros2 {
  background-color: #127262;
  color: #fff;
  text-align: center;
  margin: 40px;
  padding: 10px;
  font-size: 18px;
  width: 500%;
  height: auto;
  display: flex;
  align-items: center; /* Centrar verticalmente el contenido */
}

.container {
  display: flex;
}

.image2 img {
  margin-left: auto;
}
.Sobrenosotros3 {
  border: #127262 solid;
  text-align: center;
  margin: 40px;
  padding: 10px;
  font-size: 18px;
  width: 500%;
  height: auto;
  display: flex;
  align-items: center; /* Centrar verticalmente el contenido */
}
.Sobrenosotros4 {
  background-color: #127262;
  color: #fff;
  text-align: center;
  margin: 40px;
  padding: 10px;
  font-size: 18px;
  width: 90%;
  height: auto;
  display: flex;
  align-items: center; /* Centrar verticalmente el contenido */
}
/*-------------------------------------------------------------------Imagen---------------------------------*/

footer {
  background-color: black;
  color: #fff;
  padding: 55px;
  text-align: center;
}
