<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="autores" content="Agustina Franco,Sebastian Cancela,Juan Manuel Pereira, Agustin Miranda">
    <meta name="keywords" content="Logistica,paquetes,Quick Carry,Crecom,Choferes">
    <link rel="shortcut icon" href="../Imagenes/LogoQuickCarry.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style2.css">
    <title>Quick Carry </title>
</head>

<body>
    <header>
        <h1>Bienvenidos a Quick Carry </h1>

    </header>

    <nav>
        <a href="Index.html">Inicio</a>
        <a href="#IniciarSesion">Iniciar Sesion</a>
        <a href="Contacto.html">Contacto</a>
        <a href="SobreNosotros.html">Sobre Nosotros</a>
          <a href="../cliente/views/index.php">Rastrear Paquete</a>
    </nav>
    <img src="../Imagenes/Inicio.png">
    <!---------------------------------------------------SOBRE NOSOTROS-------------------------------------------------------- -->
    <br>
    <br>
    <br>
    <h2>Sobre Nosotros</h2>

    <section id="SobreNosotros">
        <p>Somos una empres del sector de logística de camiones, dedicada a brindar soluciones de transporte eficientes
            y confiables <br>
            Nos especializamos en la gestión integral de la cadena de suministro, brindando servicios personalizados que
            se adaptan a las necesidades de cada cliente.</p>
    </section>
    <br>
    <br>

    <div class="container">
        <a href="SobreNosotros.html" class="button-link">Read More</a>
    </div>


    <!----------------------------------------------INICIO DE SESION------------------------------------------------------>
    <h2>Inicio Sesion</h2>
    <section id="IniciarSesion">
        <p>Si sos Cliente o trabajas para nosotros, clickea la primera imagen.</p>
    </section>
    <br>
    <br>
    <div class="card-container">

        <a
            href="../FormularioUsuario/LoginQuick/LoginCamionero/RegistrarseQuickCarry/RegistrarseCamionero/controller/login.html">
            <div class="card">
                <img src="../Imagenes/Camion1.png" alt="Imagen 1">
                <div class="card-content">
                    <h3>Chofer</h3>
                </div>
            </div>
        </a>

        <a
            href="../FormularioUsuario/LoginQuick/LoginFuncionario/RegistrarseQuickCarry/RegistrarseFuncionario/controllers/login.html">
            <div class="card">
                <img src="../Imagenes/foto6.jpg" alt="Imagen 2">
                <div class="card-content">
                    <h3>Funcionario Quick Carry</h3>
                </div>
            </div>

        </a>

        <a href="../FormularioUsuario/LoginCrecom/RegistrarseCrecom/funcionarioCrecom/controllers/login.html">
            <div class="card">
                <img src="../Imagenes/Camion2.jpg" alt="Imagen 2">
                <div class="card-content">
                    <h3>Funcionario Crecom</h3>
                </div>
            </div>
        </a>
        <a href="../admin/registrarseAdmin/controllers/login.html">
            <div class="card">
                <img src="../Imagenes/Foto3.jpg" alt="Imagen 3">
                <div class="card-content">
                    <h3>Administrador</h3>
                </div>
            </div>
        </a>
    </div>
    <!----------------------------------------------CONTACTO-------------------------------------------------------------- -->
    <h2>Contacto</h2>
    <section id="contacto">
        <p>Para contactarnos, les dejamos nuestros medios de comunicacion:</p>
        <p>Correo electrónico: QuickCarry99@gmail.com</p>
        <p></p>
    </section>
    <br>
    <br>
    <br>
    <div class="container">
        <a href="Contacto.html" class="button-link">Read More</a>
    </div>
    <br>
    <br>
    <!-- -------------------------------------------------FOOTER----------------------------------------------------------------- -->
    <footer>
        <p>Derechos de autor. 2023 Quick Carry. Todos los derechos reservados.</p>
    </footer>
</body>

</html>