<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="WebTech Company">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="logistica, camiones, paquetes" />
    <meta name="copyright" content="WebTech Company">
    <link rel="shortcut icon" href="../Imagenes/LogoQuickCarry.png" type="image/x-icon">
    <link rel="stylesheet" href="../cssSobreNosotros/styleSobreNosotros.css">
    <title>Quick Carry</title>
</head>

<body>
    <header>
        <h1>Quick Carry</h1>
      </header>
      <nav>
        <a href="Index.html">Inicio</a>
        <a href="Index.html#IniciarSesion">Iniciar Sesion</a>
        <a href="Contacto.html">Contacto</a>
        <a href="SobreNosotros.html">Sobre Nosotros</a>
        <a href="../cliente/views/index.php">Rastrear Paquete</a>
      </nav>

    <h2>Sobre nosotros</h2>
    <p>
    <div class="Sobrenosotros">
        <b> Quick Carry </b>es una empresa de logística que fue fundada en el año 2010 <br>
        La idea de la formacionde de Quick Carry surgió cuando los dueños, se dieron cuenta que estaba creciendo la
        demanda de servicios de entrega rápida con el comercio electrónico.
    </div>
    <br>
    <br>
    <div class="image1">
        <img style="width:660px; height:310px;" src="../Imagenes/foto1.jpg">
    </div>
    <br>
    <br>
    </p>

    <div class="container">
        <div class="Sobrenosotros2">
            <p>Al principio, Quick Carry comenzó como una pequeña operación con solo un par de camiones y un almacén.
                <br>
                Sin embargo, con el pasar de los años y gracias a la confianza de los clientes,
                Quick Carry pudo crecer mas y mas, hasta lo que se conoce hoy en dia.
            </p>
        </div>
        <br>
        <br>
        <div class="image2">
            <img style="width:660px; height:310px;" src="../Imagenes/foto2.jpg">
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="Sobrenosotros3">
            <p>Quick Carry invirtió en tecnología avanzada para optimizar sus operaciones logísticas.
                Implementaron un sistema de seguimiento en tiempo real que permite a los clientes rastrear sus envíos
                desde
                el lugar de origen hasta el lugar final. <br> Esto brindó una mayor transparencia y tranquilidad a los
                clientes de Quick Carry.</p>
        </div>
        <br>
        <br>
        <div class="image3">
            <img style="width:660px; height:310px;" src="../Imagenes/foto7 (2).jpg">
        </div>
    </div>
    <br>
    <br>
    <div class="Sobrenosotros4">
        <p>En la actualidad, Quick Carry opera a nivel nacional, brindando servicios de logística integrada a sus
            clientes. <br> Su enfoque en la entrega rápida, confiable y respetuosa ha sido clave para su éxito continuo
            en el mercado altamente competitivo de la logística.</p>
    </div>
    <br>
    <br>

    <footer>
        <p1>Derechos de autor. 2023 Quick Carry. Todos los derechos reservados.</p1>
    </footer>
</body>

</html>