*{
margin: 0;
padding: 0;

}


body {

    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: #464545;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.headerFormChofer {
    background-color: #127262;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .headerFormChofer h1 {
    font-size: 40px;
    margin:auto;
    
  }
  /*--------------------------------------------------------------------Menu----------------------------------------------------------*/
  nav {
    background-color: #b1b1b1;
    padding: 15px;
    text-align: center;
  }
  
  nav a {
    text-decoration: none;
    margin: 10px;
    color: #333;
  }


.userImg:hover{

transform: scale(1.1);

}



header h1 {

    margin-left: 0%;
}

header h2 {

    margin-left: 39%;
    font-size: 30px;
}



/*estilo de los formularios del login de camionero*/


.imgFormReg {

    margin-top: -415px;
    margin-left: 463px;
    transition: 0.3s;

    color: white;
}

.imgFormReg img {

    width: 470px;
    height: 475px;
    padding-top: -10px;
}

.imgFormReg h4 {

    margin-top: -62%;
    font-size: 33px;
    font-weight: bold;


}

.imgFormReg p {

    margin-top: 10px;
}





.containerForm {


    margin-left: -50%;
    margin-top: -30px;


}



#formRegistroCamionero {

    text-align: center;
    margin: auto;
    
    background-color: white;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

    width: 930px;
    height: 470px;
    border-radius: 7px;
    margin-top: 8%;

}

#formRegistroCamionero input {

    margin-top: 30px;
    display: inline-block;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid;
    outline: none;
    transition: 0.2s;
    height: 30px;


}

#formRegistroCamionero input:hover {


    border-bottom: 1px solid rgb(23, 196, 219);
   
    
}




#botonRegistrarse {

    width: 210px;
    height: 30px;
    background-color: rgb(23, 196, 219);
    color: white;
    cursor: pointer;
    margin-left: 0%;


}

#botonRegistrarse:hover {

    background-color: rgb(19, 160, 179);

}



#estadoPasswordReg{

    margin-left:10px;
    cursor:pointer;

}

.inputCol1 {

    margin-right: 30px;
}



#eliminar {

    background: rgb(255, 12, 12);
    border-radius: 5px;
    width: 80px;
    height: 24px;
    text-align: center;
    padding-top: 7px;
    box-shadow: 2px 2px 2px grey;
    margin-left: 30px;
    margin-top: -8px;

}

#eliminar a {

    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}


#eliminar:hover {

    background-color: rgb(185, 4, 4);
}




.iconoMsj {

    margin-top: -7%;


}





.registrado {

    margin: auto;
    border-radius: 6px;
    width: 330px;
    height: 200px;
    font-size: 23px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-family: arial;
    font-weight: bold;
    text-align: center;
    margin-top: 12%;
    padding-top: 35px;
}

.registrado a {

    padding-top: 30px;

}

.botonRegistrado {

    margin-top: 36px;
    border-radius: 4px;
    background-color: rgba(22, 223, 22, 0.76);
    width: 130px;
    height: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none;

}

.botonRegistrado:hover {

    background-color: green;

}


.avisoCamposRegistrarse {

    margin-top: -40%;
    font-size: 15px;
    margin-left: 31.7%;
    width: 494px;
    height: 30px;
    background: linear-gradient(rgb(71, 71, 71), rgb(56, 56, 56));
    color: red;
    border-radius: 3px;
    text-align: center;
    padding-top: 10px;



}


.avisoCamposRegistrarse h4 {

    margin: auto;
    font-weight: bold;
    color: red;



}





#formLoginCamionero {

    text-align: center;
    
    margin-left: 24%;
    margin-top: 9%;
    background-color: white;
    border: none;
    box-shadow:

        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(35, 95, 119, 0.3);
    width: 664px;
    height: 390px;
    border-radius: 7px;
    text-align: center;


}


.inputs h1 {

    font-size: 23px;
    margin-right: 340px;

}


.inputs input {



    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    height: 30px;
    padding-left: 40px;
    margin-right: 50%;
    width: 180px;
    background: none;
    color: rgb(0, 0, 0);
    transition: 0.3s;

}

.inputs input:hover {

    border-bottom: 1px solid rgb(23, 196, 219);
    transition: 0.3s;
    transform: scale(1.1);
}

.inputs input::placeholder {

    color: rgb(0, 0, 0);
}



.inputs img {

    position: absolute;
    margin-left: 2px;
    margin-top: 6px;

}

#botonEnviar {

    width: 100px;
    height: 30px;
    background-color: rgb(23, 196, 219);
    color: white;
    margin-top: 25px;
    margin-right: 350px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: bold;


}

#botonEnviar:hover {

    background-color: rgb(39, 128, 163);

}



#estadoPassword {

    position: absolute;
    margin-left: -24%;
    margin-top: 1px;
    cursor: pointer;

}


.avisoCamposLogin {

    margin-top: -33%;
    font-size: 15px;
    margin-left: 31.7%;
    width: 494px;
    height: 30px;
    background: linear-gradient(rgb(71, 71, 71), rgb(56, 56, 56));
    color: red;
    border-radius: 3px;
    text-align: center;
    padding-top: 10px;



}


.avisoCamposLogin h4 {

    margin: auto;
    font-weight: bold;
    color: red;



}

.linkCamionero {

    margin-top: 33px;
    margin-right: 50%;
}

.linkCamioneroReg {

    margin-top: 33px;
    margin-right: 0%;
}

.imgForm {

    margin-top: -305px;
    margin-left: 333px;
    transition: 0.3s;

    color: white;
}

.imgForm img {

    width: 333px;
    height: 394px;
    padding-top: -10px;
}

.imgForm h4 {

    margin-top: -84%;
    font-size: 33px;
    font-weight: bold;


}

.imgForm p {

    margin-top: 10px;
}



.verPass {

    margin-top: -29px;
    margin-left: 410px;
}



#menuPerfil {

    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 180px;
    box-shadow:
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    margin-top:-1%;
    margin-left: 77%;
    color: rgb(71, 71, 71);
    border-radius: 4px;
    visibility: hidden;

}



#menuPerfil.active {

    visibility: visible;

}






#menuPerfil:hover {

    cursor: pointer;
}

#menuPerfil img {

    margin-left: 20px;
    margin-top: 20px;
}

#menuPerfil h4 {

    margin-left: 90px;
    margin-top: -60px;

}

#menuPerfil button {
    background-color: #2bc48a;
    color: white;
    font-weight: bold;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    width: 80px;
    height: 25px;
    border: none;
    margin-left: 90px;
    margin-top: 10px;
    border-radius: 4px;

}

#menuPerfil button:hover {

    background-color: #239167;
}


.cerrarSesion {

    margin-top: 10%;



}

.cerrarSesion a {

    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: #5c5c5c;

}

