body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  background-color: #127262;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h2 {
  color: rgb(0, 59, 59);
  text-align: center;
}

nav {
  background-color: #b1b1b1;
  padding: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  margin: 10px;
  color: #333;
}

/* --------------------------------------------Seccion de contacto------------------------------------------*/
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-section {
  background-color: #127262e3;
  padding: 20px;
  width: 350px;
  height: 430px;
  margin-right: 20px;
}

.contact-icons {
  text-align: center;
  color: #fff;
}

.contact-icons img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, color 0.3s ease;
  /* Agrega transiciones suaves */
}

.contact-icons img:hover {
  transform: scale(1.4);

}

/* -------------------------------------------FORMULARIO --------------------------------------*/

.card {
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  width: 700px;
  height: 460px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
}

#enviar {
  border-radius: 4px;
  box-shadow: 2px 2px 2px grey;
  border: none;
  width: 220px;
  height: 30px;
  background-color: #127262e3;
  cursor: pointer;
  font-weight: bold;
}

#enviar:hover {
  background-color: #b4b4b4;
}

form {
  text-align: center;
}

form input {
  border: 1px solid #127262;
  border-radius: 5px;
  padding: 7px;
  width: 80%;
  margin-bottom: 5px;
  font-size: 14px;
  transition: border-color 0.3s;
}

form input:hover {
  border: #127262e3 1px solid;
}

form input:focus {
  outline: none;
  box-shadow: 0 0 5px #30bdcf;
}

form textarea {
  width: 80%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  background-color: #fff;
}

/* -------------------------------------------Consulta-------------------------------------*/

.msjConsultaEnviada {
  margin-top: -13%;
  text-align: center;
  color: rgb(26, 224, 26);
}

.volverError {
  margin-top: 13px;
  border-radius: 4px;
  background-color: rgb(231, 32, 32);
  color: white;
  text-decoration: none;
  width: 140px;
  border: none;
  height: 30px;
}

.volverError:hover {
  background-color: rgb(170, 17, 17);
}

.msjEliminar {
  margin: auto;
  border-radius: 6px;
  width: 330px;
  height: 140px;

  box-shadow: 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(35, 95, 119, 0.3);
  font-family: arial;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 0%;
  padding-top: 35px;
}

.msj {
  padding-top: 20px;
}


#containerError{

  background-color: rgb(241, 64, 64);
  border-radius: 10px;
  width: 690px;
  height:50px;
  color: white;
  margin-left: 39%;
  margin-top: -41%;
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;
}
.containerInfo{

  margin-right: 87%;
  font-size: 15px;
  margin-top: -12px;
  display: flex;
  
}

.containerInfo a{

  padding-left: 6px;
}
.containerInfo img{

  padding-left: 10px;
}


#msjAviso{

font-size: 16px;
margin-right: 77%;
margin-top: 3px;
color: white;
}

/* -------------------------------------------Footer --------------------------------------*/
footer {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 40%;
}


@media (max-width:600px){

  
  header {

    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}



header h1 {

    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 600px;
    font-size: 24px;

}


nav{

  font-size: 16px;
}



.contact-section{

  width: 50px;
  font-size: 10px;
  height: 390px;
}

.contact-section img{

  width: 20px;
}

.card{

  margin-left: -10px;
  width: 70%;
  height:420px
}

form input {
  border: 1px solid #127262;
  border-radius: 5px;
  padding: 7px;
  width: 50%;
  margin-bottom: 5px;
  font-size: 14px;
  transition: border-color 0.3s;
}

form textarea {
  width: 60%;
  height: 80px;
  padding: 5px;
  margin-bottom: 5px;
 
}

#enviar {
 
  width: 170px;
  height: 30px;
 
}

#enviar:hover {
  background-color: #b4b4b4;
}



#containerError{

  background-color: rgb(241, 64, 64);
  border-radius: 10px;
  width: 270px;
  height:40px;
  color: white;
  margin-left: 25%;
  margin-top: -132%;
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;
}
.containerInfo{

  margin-right: 87%;
  font-size: 12px;
  margin-top: -12px;
  display: flex;
  
}

.containerInfo a{

  padding-left: 6px;
}
.containerInfo img{

  padding-left: 10px;
  width: 13px;
}

#msjAviso{

font-size: 13px;
margin-right: 40%;
margin-top: 3px;
color: white;
}



footer {
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 140%;
}

}
